{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<section class="container text-center">
  <h2>Black Box AI</h2>
  <p>Enter your query to interact with the Black Box AI.</p>
  <form action="{% url 'blackbox' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-body">
            {% if result %}
            <h5 class="card-title">Response</h5>
            <p class="card-text">{{ result }}</p>
            {% endif %}
            {% if error %}
            <p class="text-danger">{{ error }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock content %}